
@import "./utils/variables";

@import "./utils/mixins";

@import "./base/base";
@import "./base/typography";

@import "./composants/buttons";


@import "./layout/header";
@import "./layout/footer";

@import "./pages/explore";
@import "./pages/functioning";
@import "./pages/restaurants";



.menu {
    @include relative;
    @include flex;
    @include collumn;
    align-items: flex-start;
    background-color: $colour-grey-3;
    border-radius: 40px 40px 0 0;
    z-index: 0;
    top: 220px;
    padding: 30px 15px 0px 15px;    

&__h2 {
    @include flex;
    @include row;
    align-items: center;
    gap: 35px;
}

&__h2 h2 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    font-size: 28px;
    @include margin-0
}

&__h2 .heart {
    right: 10%;
}

&__h3-décoration {
    border-bottom: solid $colour-tertiary 3px;
    width: 40px;
    margin-bottom: 10px;
}

& h3 {
    margin-top: 40px;
    font-weight: 300;
    font-size: 16px;
}

&__annim {
  display: flex;
  flex-direction: column; 
  width: 100%;
  gap: 12px;
}

&__card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
    box-shadow: 0px 4px 18px 0 rgba(110, 110, 110, 0.25);
    border-width: 2px;
    border-radius: 15px;
    width: 100%;
    height: 68px;
    overflow: hidden;
 }
  
 &__card::before {
    content: '';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right:-59px;
    z-index: 1;
    opacity: 0;
    width: 59px;
    height: 100%;
    border-radius: 0 15px 15px 0;
    font-family: "Font Awesome 6 Free"; content: "\f058";
    font-weight: 900;
    font-size: 20px;
    color: white;
    background: #99E2D0;
    transition: all .5s ;
}
  
&__card--click {
    z-index: 1;
    background: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
  
&__card p {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    left: 10.5px;
    bottom: 12px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .5s ;   
}
  
&__card span {
    content: '';
    position: absolute;
   font-weight: 700;
    font-size: 15px;
    right: 18px;
    top: 38px;
    transition: all .5s ;  
  }
    
   @include menu;


  &__btn {
    @include flex;
    width: 100%;
    justify-content: center;
}

  &__btn .btn {
    padding: 15px 50px;
    margin: 40px 0 40px 0;
 }

 &__footer {
    @include relative;
    top: 222px;
}
}





