
.header {
    &__background-h1 {
    @include flex-justify-align;    
    height: 63px;
    background-color: $colour-white;
  }

  &__background-h1 a {
  color: black;
  font-size: 20px;
  left: 23px;
  @include absolute;
  }

  &__background-search {
    @include flex-justify-align;
    height: 50px;
    background-color: $colour-grey-2;
    box-shadow: 0 2.5px 2.5px 0 #c4c4c4 inset;
  }

&__background-search--icone-color {
color: $colour-grey;
}

&__background-search--search-bar {
width: 150px;
font-family: 'Roboto', sans-serif;
color: $colour-grey;
font-size: 16px;
font-weight: 500;
border: none;
background: none;
padding-left: 10px;
}

&__background-img--palette {
  @include absolute;
  @include background-image;
   background-image: URL("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position: bottom;
  
}

&__background-img--note {
  @include absolute;
  @include background-image;
   background-image: URL("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: center;
  
}

&__background-img--française {
  @include absolute;
  @include background-image;
   background-image: URL("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position: center;
  
}

&__background-img--délice {
  @include absolute;
  @include background-image;
   background-image: URL("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-position: center;
  
}
}