
.loader {
    @include flex-justify-align;
    position: fixed;
    background: linear-gradient(to bottom, rgba(147,86,220,1) 0%,rgba(255,121,218,1) 25%,rgba(255,255,255,1) 50%,rgba(255,121,218,1) 75%,rgba(147,86,220,1) 100%);
    width: 100%;
    height: 100%;
    z-index: 11;
    animation: background-loader;
    animation-duration: 3s ;
    animation-delay: 1s;
    transition: opacity 3s ease-in-out;
    animation-fill-mode: both;
  
  
  &__bar {
    @include flex-justify-align;
  }
  
  &__bar--image-1 {
    @include img-loader;
    animation-delay: 1s;
  }
  
  &__bar--image-2 {
    @include img-loader;
    animation-delay: 1.3s;
  }
  
  &__bar--image-3 {
    @include img-loader;
    animation-delay: 1.6s;
  }
  
  &__bar--image-4 {
    @include img-loader;
    animation-delay: 1.9s;
  }
  
  &__bar--image-5 {
    @include img-loader;
    animation-delay: 2.2s;
  }
  
  &__bar--image-6 {
    @include img-loader;
    animation-delay: 2.5s;
  }
  
  &__bar--image-7 {
    @include img-loader;
    animation-delay: 2.8s;
  }
  
  &__bar--image-8 {
    @include img-loader;
    animation-delay: 3.1s;
  }
  
  &__bar--image-9 {
    @include img-loader;
    animation-delay: 3.3s;
  }
  
  & img {
    width: 90%;
    @include tablet-up {
        width: 60%;
    }
    }
    
}