
.restaurants {
    @include flex;
    @include collumn;
    @include padding-section;
    gap: 18px;

&__card--row {
    @include flex;
    @include row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 18px;
}

&__card__conteneur-1 {
    @include relative;
    width: 335px;
    height: 300px;
}

&__card__conteneur-1__titre {
    @include absolute;
    top: 0px;
    left: 0px;
}

&__card__conteneur-2 {
    @include relative;
    width: 335px;
    height: 251px;
}

&__card {
    @include absolute;
    bottom: 0px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    width: 335px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    }

&__card img {
    width: 100%;
    height: 174px;
    object-fit: cover;
    padding-top: 0px;
    border-radius: 16px 16px 0px 0px;
}

&__card--reglage-1 {
    object-position: bottom;
   }

&__card--reglage-2 {
 object-position: 50% 62%;
}

&__card--fond-blanc {
    display: flex;
    padding: 2px 16px; 
    justify-content: space-between;
    align-items: center;
    }

&__card:hover {
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
}

&__card__heart img{
    width: 24px;
    height: 24px;
}

&__card__heart {
    @include flex;
    @include relative;
    background-image: URL("../images/logo/heart-solid-border.png");
    right: 12px;
    bottom: 16px;
    width: 24px;
    height: 24px;
    z-index: 0;
    overflow: hidden;
  

  &::after {
    content: '';
    @include absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image:
    URL("../images/logo/heart-solid-linear-gradient.png");
    border-radius: 60% 60% 0% 0%;
   transition: all .6s;
  }

  
  &:active::after {
    top: 0px;
    border-radius: 25% 25% 0% 0%;
    animation-fill-mode: forwards;
  }
}
}