
.restaurants {
    @include flex;
    @include collumn;
    @include padding-section;
    background: $colour-grey-3;
    

    @include desktop {
        @include row;
        justify-content: center;
        height: 400px;
    }

&__card--row {
    @include flex;
    @include row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 18px 18px;
    transition: transform 2s;
    

    @include desktop {
        flex-wrap: nowrap;
        width: 100%;
        height: 307px;
        animation-name: scroll-bar;
        animation-duration:8s;
        animation-delay: 2s;
        animation-iteration-count:infinite;
        animation-fill-mode: both;
    }

    @include bar {
        animation-name: scroll-bar-2;
        
    }
}



&__card__conteneur-1__titre {
    @include absolute;
    top: 0px;
    left: 0px;
    visibility: visible;

    @include desktop {
        visibility: hidden;
    }
}

&__card__conteneur-1__titre-2 {
    @include absolute;
      
        visibility: hidden;
    @include desktop {
        top: 325px;
        left: -5px;
        visibility: visible;
    }

    @include title {
        top: 230px;
        left: 5px;
    }

   
   
}

&__card__conteneur-1 {
    @include conteneur;
    height: 300px;
    
    @include desktop {
        @include absolute;
        left: 125px;
    }
    
    @include title {
       
        left: 242px;
    }
    }

&__card__conteneur-2 {
    @include conteneur;
    height: 251px;

    @include desktop {
        @include absolute;
        left: 493px;
    }

    @include title {
      
        left: 609px;
    }
}

&__card__conteneur-3 {
    @include conteneur;
    height: 251px;

    @include desktop {
        @include absolute;
        left: 858px;
    }

    @include title {
        
        left: 976px;
    }
}

&__card__conteneur-4 {
    @include conteneur;
    height: 251px;

    @include desktop {
        @include absolute;
        left: 1224px;
    }

    @include title {
      
        left: 1344px;
    }
}

&__card {
    @include absolute;
    bottom: 0px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    width: 335px;
    height: 251px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    }

&__card img {
    width: 100%;
    height: 174px;
    object-fit: cover;
    padding-top: 0px;
    border-radius: 16px 16px 0px 0px;
}

& span {
    @include absolute;
    top: 13px;
    right: 13px;
    color:$colour-font;
    background-color: $colour-tertiary;
    padding: 7px 9px 7px 9px;
   }

&__card--reglage-1 {
    object-position: bottom;
   }

&__card--reglage-2 {
 object-position: 50% 62%;
}

&__card--fond-blanc {
    display: flex;
    padding: 2px 16px; 
    justify-content: space-between;
    align-items: center;
    }

&__card:hover {
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
}

& .heart{
  @include heart;
  right: 25px;
  bottom: 33px;
   
 }

}