.menu {
    @include relative;
    @include flex;
    @include collumn;
    align-items: flex-start;
    background-color: $colour-grey-3;
    border-radius: 40px 40px 0 0;
    z-index: 0;
    top: 220px;
    padding: 30px 15px 0px 15px;
    @include phone-down {
        width: 85%;
        left: 7.5%;
    } 
    @include tablet-up {
        width: 70%;
        left: 15%;
    }    

&__h2 {
    @include flex;
    @include row;
    align-items: center;
    gap: 35px;
}

&__h2 h2 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    font-size: 28px;
    @include margin-0
}

&__h2 .heart {
    right: 10%;
}

&__h3-décoration {
    @include relative;
    border-bottom: solid $colour-tertiary 3px;
    width: 40px;
    margin-bottom: 10px;
}

& h3 {
    @include relative;
    margin-top: 40px;
    font-weight: 300;
    font-size: 16px;
}

&__anim-1 {
  @include reg-menu;
  animation-name: anim-1;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

&__anim-1 &__h3-décoration {
   animation-name: entrées;
   animation-duration: 1s;
   animation-delay: 3s;
   animation-fill-mode: both;
}

&__anim-2 {
  @include reg-menu;
  animation-name: anim-2;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: both;
}

&__anim-2 &__h3-décoration {
    animation-name: plats;
    animation-duration: 1s;
    animation-delay: 6s;
    animation-fill-mode: both;
}

&__anim-3 {
  @include reg-menu;
  animation-name: anim-3;
  animation-duration: 1s;
  animation-delay: 7s;
  animation-fill-mode: both;
}

&__anim-3 &__h3-décoration {
    animation-name: désserts;
    animation-duration: 1s;
    animation-delay: 8s;
    animation-fill-mode: both;
}

&__card {
    @include relative;
    @include flex-justify-align;
    background: $colour-white;
    box-shadow: 0px 4px 15px 0 rgba(110, 110, 110, 0.25);
    border-width: 2px;
    border-radius: 15px;
    width: 100%;
    height: 68px;
    overflow: hidden;
 }
  
 &__card::before {
    content: '';
    @include absolute;
    @include flex-justify-align;
    right:-59px;
    z-index: 1;
    opacity: 0;
    width: 59px;
    height: 100%;
    border-radius: 0 15px 15px 0;
    font-family: "Font Awesome 6 Free"; content: "\f058";
    font-weight: 900;
    font-size: 20px;
    color: $colour-white;
    background: $colour-tertiary;
    transition: all .5s ;
}
  
&__card--click {
    @include relative;
    z-index: 1;
    border-radius: 15px;
    background: $color-transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
  
&__card p {
    @include absolute;
    font-weight: 400;
    font-size: 16px;
    @include margin-0;
    left: 10.5px;
    bottom: 12px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .5s ;   
}
  
&__card span {
    content: '';
    @include absolute;
   font-weight: 700;
    font-size: 15px;
    right: 18px;
    top: 38px;
    transition: all .5s ;  
  }
    
   @include menu;


  &__btn {
    @include flex;
    width: 100%;
    justify-content: center;
}

  &__btn .btn {
    padding: 15px 50px;
    margin: 40px 0 40px 0;
 }

 &__footer {
    @include relative;
    top: 222px;
}
}