
@mixin flex {
    display: flex;
 }

 @mixin row {
    flex-direction: row;
 }

 @mixin collumn {
    flex-direction: column;
 }

@mixin flex-justify-align {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@mixin relative {
    position: relative;
}

@mixin absolute {
    position: absolute;
}

@mixin margin-0 {
    margin: 0 0 0 0;
}

@mixin padding-section {
    padding: 48px 15px 68px 15px;
}

@mixin btn {
    display: inline-block;
      background: linear-gradient(-364deg, $colour-primary -5.2%, $colour-secondary 110.74%);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-width: 2px;
      border-radius: 25px;
      padding: 15px 20px;
      transition: box-shadow 450ms, opacity 300ms 150ms;
      &:hover {
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
        opacity: 85%;
    }
}