
  $colour-primary: #9356DC;
  $colour-primary-2: #F5EDFF;
  $colour-secondary: #FF79DA;
  $colour-tertiary: #99E2D0;
  $colour-font: #008766;
  $colour-blue-1: #89C8FA;
  $colour-blue-2: #003A68;
  $colour-grey-icons-fonctioning:#7E7E7E;
  $colour-grey: #353535;
  $colour-grey-2: #EAEAEA;
  $colour-grey-3: #F7F7F7;
  $colour-white: white;
  $colour-black: black;
  $color-transparent: transparent;


  $breakpoints: (
  phone-down: 500px,
  tablet-up: 768px,
  tablet-down: 900px,
  desktop: 992px,
  title: 1100px,
  bar: 1685px,
    );

   